@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');


h2 {
  font-weight: 600;
  font-size: 4rem;
  font-family: 'Reenie Beanie';
  margin-bottom: 2rem;

}
ion-button{
  margin-top: 3rem;
  margin-bottom: 2rem;
}
p{
  color:rgb(180, 53, 189);
  font-size: 1.2rem;
  font-style: italic;
}
