@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

.logo{
  margin-bottom: 1rem;
  ion-toolbar{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
h2 {
  font-weight: 500;
  font-size: 3.5rem;
  font-family: 'Reenie Beanie';

}

