<ion-tabs>
  <ion-header class="logo">
    <ion-toolbar class="ion-text-center">
      <ion-title> <h2>Journal !</h2></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="new">
      <ion-icon name="pencil-outline"></ion-icon> <ion-label> New </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feed">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label> Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="people-outline"></ion-icon> <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
